<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        #container {
            display: flex;
            flex-direction: column;
        }
        #header {
            background-color: yellow;
            height: 50px;
            display: flex;
            font-family: sans-serif;
            padding: 0 10px 0 10px;
            align-items: center;
        }
        #title {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: auto;
            align-items: center;
            display: flex;
        }
        #title img {
            margin-right: 10px;
        }
        #search {
            min-width: 50px;
            flex-shrink: 0;
            flex-grow: 0;
        }
        #search input {
        }
        #content {
            width: 100%;
            flex: 1;
            padding: 0 0 0 10px;
        }
        .columns {
            display: flex;
            /*flex: 1;*/
        }
        .column {
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 0;
        }
        @media (max-width: 1023px) {
            .columns {
                display: block;
            }
        }
        .item {
            min-height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: gray;
            border: 1px solid white;
        }
        .hidden {
            display: none;
        }
        header > span:hover {
            background-color: red;
            cursor: pointer;
        }
        header > span {
            text-decoration: underline;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="container">
    <header id="header">
        <div id="title">
            <img src="/static/binoculars.svg" width="50"/>PyGlass</div>
        <div id="search">
            <input type="search" value="" />
            <input type="button" value="Search" />
        </div>
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
        <!-- <div class="columns">
            <div class="column">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">5</div>
            </div>
            <div class="column">
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">6</div>
            </div>
        </div> -->
    </div>
</div>
</body>

</html>
