{% extends "base.html" %}
{% block head %}
    <title>{{ package.name }} - PyGlass</title>
{% endblock %}
{% block content %}
    <h1>{{ package.name }}</h1>
    <h3>{{ package.summary }}</h3>
    <h3>Current Version: {{ releases[0].version }} - Released {{ releases[0].released_at.strftime('%Y-%m-%d %H:%M') }} (UTC)</h3>
    <table>
        <thead>
            <tr>
                <td>Version</td>
                <td>Released</td>
            </tr>
        </thead>
        {% for release in releases %}
        <tr>
            <td><a href="/package/{{ package.name }}/version/{{ release.version }}">{{ release.version }}</a></td>
            <td>{{ release.released_at }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}