{% extends "base.html" %}
{% block head %}
    <title>{{ package.name }} {{ release.version }} - PyGlass</title>
    <style>
    .expandHeader {
        position: relative;
    }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ package.name }} {{ release.version }}</h1>
    <p>{{ package.summary }}</p>
    {% if release.is_queued or release.requirements_attempt_count == 0 %}
        <h3>Note: Requirements may not have been fully gathered for this package</h3>
    {% endif %}
    <h3>Downloads in the last 10 days: {{ ten_day_download_count }}</h3>
    <h3>Requires (resolved)</h3>
    <ul>
        {% for requirement in requirements %}
            <a href="{{ url_for('package_page', name=requirement.package.name) }}">{{ requirement.package.name }}</a> {{ requirement.specifier }}
        {% endfor %}
    </ul>
    <h3>Requires (unresolved)</h3>
    <ul>
    {% for requirement in unresolved_requirements %}
        <li>{{ requirement.queued_update.package_name }} {{ requirement.specifier }}</li>
    {% endfor %}
    </ul>
    {% if requiress|length %}
    <h3>{{ requirees|length }} dependent packages can use this version of {{ package.name }}</h3>
    <section id="squeezebox">
    {% for requiree in requirees %}
        <header><a href="{{ url_for('package_page', name=requiree.name) }}">{{ requiree.name }}</a> (<span id="expand-{{ requiree.name }}" onclick=expand("{{ requiree.name }}")>{{ requiree.versions|length }} versions - show</span>) - {{ requiree.description }}</header>
        <div id="versions-{{ requiree.name }}" class="hidden"><span>{% for version in requiree.versions %}{{ version }} {% endfor %}</span></div>
    {% endfor %}
    </section>
    {% else %}
    <h3>We don't have records of any packages that depend on this version of {{ package.name }}</h3>
    {% endif %}
    <script>
        function expand(packageName) {
            var hiddenClass = 'hidden';
            var source = document.getElementById('expand-' + packageName);
            var target = document.getElementById('versions-' + packageName);
            if (target.classList.contains(hiddenClass)) {
                target.classList.remove(hiddenClass);
                source.textContent = source.textContent.replace('- show', '- hide')
            }
            else {
                target.classList.add(hiddenClass);
                source.textContent = source.textContent.replace('- hide', '- show')
            }
        }
    </script>
{% endblock %}
