{% extends "base.html" %}
{% block head %}
    <title>Site Stats - PyGlass</title>
{% endblock %}
{% block content %}
    <h1>Site Stats</h1>
    <h3>Number of Packages: {{ '{:,}'.format(package_count) }}</h3>
    <h3>Number of Releases: {{ '{:,}'.format(release_count) }}</h3>
    <h3>Number of Requirements: {{ '{:,}'.format(requirements_count) }}</h3>
    <h3>Number of Unresolved Requirements: {{ '{:,}'.format(unresolved_requirements_count) }}</h3>
    <h3>Queued Update Count: {{ '{:,}'.format(queued_updates_row_count) }}</h3>
    <h3>Rows in Downloads Table: {{ '{:,}'.format(downloads_row_count) }}</h3>
    <h3>Rows in Staged Downloads Table: {{ '{:,}'.format(staged_downloads_row_count) }}</h3>
{% endblock %}